[Unit]
Description=Prometheus Blackbox Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=blackbox_exporter
Group=blackbox_exporter
Type=simple
ExecStart=/usr/local/bin/blackbox_exporter \
  --web.listen-address={{ blackbox_exporter_listen }} \
  --config.file={{ blackbox_exporter_config_path }}
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
